<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>2BEBOT</title>
</head>
<body>
    <!--Navbar-->
    <div class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/contacto.html" class="active">Contacto</a></li>
            <li><a href="../views/productos.html">Servicios</a></li>
            <li><a href="../views/presupuesto.html">Presupuesto</a></li>
        </ul>
    </div>

    <!--Header-->
    <header>
        <h1>2BEBOT</h1>
    </header>
    <!--Contenido Principal-->
    <div class="main-content">
        <div class="container">
            <div class="content">
                <h1>¿Dónde estamos?</h1>
                <p>Nuestra ubicación en la imagen de abajo:</p>
                <img src="../images/ubicacion.png" alt="Nuestra ubicacion" width="300" height="300">
                <p>📌Alameda Santos, 415 - Conj 101 - Vila Mariana, São Paulo - SP, 01418-100, Brasil</p>
            </div>
        </div>
    </div>
    <!--footer-->
    <footer>
        <p>Síguenos en las redes sociales:</p>

        <a href="https://www.facebook.com" target="_blank">
            <img src="../images/facebook.png" alt="Logotipo de Facebook" width="20" height="20">
            Facebook
        </a>

        
        <a href="https://www.twitter.com" target="_blank">
            <img src="../images/twitter.png" alt="Logotipo de Twitter" width="20" height="20">
            Twitter
            
        </a>

        
        <a href="https://www.instagram.com" target="_blank">
            <img src="../images/instagram.png" alt="Logotipo de Instagram" width="20" height="20">
            Instagram
        </a>

        <a href="https://www.linkedin.com" target="_blank">
            <img src="../images/linkedin.png" alt="Logotipo de LinkedIn" width="20" height="20">
            LinkedIn
        </a>
        <p>&copy; 2024 2BEBOT. Reservados todos los derechos.</p>
    </footer>
</body>
</html>