<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>2BEBOT</title>
</head>
<body>
    <!--Navbar-->
    <div class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
            <li><a href="../views/productos.html" class="active">Servicios</a></li>
            <li><a href="../views/presupuesto.html">Presupuesto</a></li>
        </ul>
    </div>

    <!--Header-->
    <header>
        <h1>2BEBOT</h1>
    </header>

    <!--Contenido Principal-->
    <div class="main-content">
        <div class="card-container">
                <!--Primera caja-->
                <div class="card1">
                    <h3>API WhatsApp</h3>
                    <p>Ten tus varios números de WhatsApp en un solo lugar sin la posibilidad de ser bloqueado.</p>
                    <br>
                    <img src="../images/whatsapp.png" alt="Logotipo de WhatsApp" width="100" height="100">
                </div>

                <!--Segunda caja-->
            <div class="card2">
                    <h3>BOTS</h3>
                    <p>Automatiza tus flujos de atención y escala tu negocio sin necesidad de más contrataciones.</p>
                    <br>
                    <img src="../images/bot.png" alt="un robot parpadeando con su ojo izquierdo" width="100" height="100">
                </div>

                <!--Tercera caja-->
                <div class="card3">
                    <h3>Catálogo Digital</h3>
                    <p>Divulga tus productos de manera fácil, a través de catálogos digitales. Simple, fácil y práctico de 
                    actualizar.</p>
                    <br>
                    <img src="../images/mobile.png" alt="Un celular con una lista en su pantalla" width="100" height="100">
                </div>

                <!--Cuarta caja-->
                <div class="card4">
                    <h3>Plataforma de atención</h3>
                    <p>Con un exclusivo panel de atención y gestión, antienes tu negocio organizado y con los datos de los clientes organizados.</p>
                <img src="../images/data-analytics.png" alt="Una computadora con información en la pantalla" width="100" height="100">
                </div> 
        </div>
    </div>

    <!--Footer-->
    <footer>
        <p>Síguenos en las redes sociales:</p>

        <a href="https://www.facebook.com" target="_blank">
            <img src="../images/facebook.png" alt="Logotipo de Facebook" width="20" height="20">
            Facebook
        </a>

        
        <a href="https://www.twitter.com" target="_blank">
            <img src="../images/twitter.png" alt="Logotipo de Twitter" width="20" height="20">
            Twitter
            
        </a>

        
        <a href="https://www.instagram.com" target="_blank">
            <img src="../images/instagram.png" alt="Logotipo de Instagram" width="20" height="20">
            Instagram
        </a>

        <a href="https://www.linkedin.com" target="_blank">
            <img src="../images/linkedin.png" alt="Logotipo de LinkedIn" width="20" height="20">
            LinkedIn
        </a>
        <p>&copy; 2024 2BEBOT. Reservados todos los derechos.</p>
    </footer>
</body>
</html>